{% load i18n static %}
<!doctype html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}{% endblock %}

</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="{% url 'index' %}">
            Company Logo
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                {% url 'about' as about_page_url %}
                <li class="nav-item {% if request.path == about_page_url %}active{% endif %}">
                    <a class="nav-link" href="{{ about_page_url }}">About <span class="sr-only">(current)</span></a>
                </li>

                {% if not user.is_authenticated %}
                    {% url 'signin_page' as signin_page_url %}
                    <li class="nav-item {% if request.path == signin_page_url %}active{% endif %}">
                        <a class="nav-link" href="{{ signin_page_url }}">{% trans 'Sign in' %}</a>
                    </li>
                    {% url 'signup_page' as signup_page_url %}
                    <li class="nav-item {% if request.path == signup_page_url %}active{% endif %}">
                        <a class="nav-link" href="{{ signup_page_url }}">{% trans 'Register' %}</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    {% url 'item' as item_page_url %}
                    <li class="nav-item {% if request.path == item_page_url %}active{% endif %}">
                        <a class="nav-link" href="{{ item_page_url }}">{% trans 'Search Items' %}</a>
                    </li>
                    {% url 'profile_items' as profile_item_page_url %}
                    <li class="nav-item {% if request.path == item_page_url %}active{% endif %}">
                        <a class="nav-link" href="{{ profile_item_page_url }}">{% trans 'Profile Items' %}</a>
                    </li>
                    {% url 'favorite_items' as favorite_items_page_url %}
                    <li class="nav-item {% if request.path == favorite_items_page_url %}active{% endif %}">
                        <a class="nav-link" href="{{ favorite_items_page_url }}">{% trans 'Favorite Items' %}</a>
                    </li>
                {% endif %}
            </ul>

            <div class="mx-2">
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">{% trans 'Hi' %}, {{ user.first_name }}</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"
                               href="{% url 'account' %}">{% trans 'Edit profile' %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                               href="{% url 'change_password' %}">{% trans 'Change password' %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                               href="{% url 'logout_page' %}">{% trans 'Log out' %}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
</header>

<div class="wrapper">
    {% block content %}{% endblock %}
</div>

<footer id="footer" class="footer-1">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright Company Name © 2021. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'popper.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

{% block js %}{% endblock %}

</body>
</html>
