{% extends "base.html" %}

{% block content %}
    <main>
        <div class="container">
            <br>
            <div class="row">
                <div class="offset-2 col-8">

                    {% for message in messages %}
                        <div class="alert alert-{{ message.level_tag }}" role="alert">{{ message }}</div>
                    {% endfor %}

                </div>
            </div>
            <div class="row">
                <div class="col-12 ">
                    <div class="text-center" style="margin-top: 100px;">
                        <h1>Welcome to home page</h1>

                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, cum dolore facere
                                illo
                                labore minus pariatur praesentium quasi. Adipisci beatae cupiditate hic
                                laudantium modi nam provident quas quidem, similique tempora!</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
{% endblock %}
