{% extends "base.html" %}
{% load i18n static %}


{% block content %}
    <main>
        <div class="container mt-4 mb-2">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>{% trans 'Log in' %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-2">
                    <form method="post" action="{% url 'signin_page' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">{% trans 'E-mail' %}</label>
                            <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">{% trans 'Password' %}</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="form-group text-right">
                            <input type="submit" class="btn btn-info" value="Log in">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
