{% extends "base.html" %}
{% load i18n static app_tags %}

{% block content %}
    <div class="container">
        {% if has_access %}
            <div class="row">
                <div class="col-12">
                    <div>
                        <table class="table table-striped my-3">
                            <thead>
                            <tr>
                                <th scope="col">name</th>
                                <th scope="col">rank</th>
                                <th scope="col">quantity</th>
                                <th scope="col">verified</th>
                                <th scope="col">category</th>
                                <th scope="col">updated_at</th>
                                <th scope="col">created_at</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for item in items %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.rank }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.verified }}</td>
                                    <td>{{ item.category }}</td>
                                    <td>{{ item.updated_at }}</td>
                                    <td>{{ item.created_at }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                        <div class="pagination">
                            {% if items.has_other_pages %}
                                <ul class="pagination">
                                    {% if items.has_previous %}
                                        <li><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in items.paginator.page_range %}
                                        {% if items.number == i %}
                                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                        {% else %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if items.has_next %}
                                        <li><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        {% else %}
            <h3 style="text-align: center; margin-top: 40px;">Sorry, you dont have access to Items</h3>
        {% endif %}
    </div>
{% endblock %}
