{% extends "base.html" %}
{% load i18n static %}

{% block content %}
    <div class="container">
    {% if has_access %}
        <div class="row">
            <div class="col-12">
                <h1 style="margin-top: 20px; text-align: center">Favorite Items</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <div>
                    <table class="table table-striped my-3">
                        <thead>
                            <tr>
                                <th scope="col">name</th>
                                <th scope="col">quantity</th>
                                <th scope="col">comment</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for item in items %}
                                <tr>
                                    <td>{{ item.item.name }}</td>
                                    <td>{{ item.item.quantity }}</td>

                                    <td>
                                        {% if item.comment %}<span>{{ item.comment }}</span>{% endif %}
                                    </td>
                                    <td>
                                        <form action="{% url 'favorite_items' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="user" id="id_user" value="{{ request.user.id }}" required>
                                            <input type="hidden" name="item" id="id_item" value="{{ item.item.id }}" required>
                                            <input type="hidden" name="action" value="remove_comment">

                                            <input type="submit" class="btn btn-secondary" value="Remove">
                                        </form>
                                    </td>

                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
      {% else %}
            <h3 style="text-align: center; margin-top: 40px;">Sorry, you dont have access to Items</h3>
        {% endif %}
    </div>
{% endblock %}
